@import "../../../styles/variables.scss";

main{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    section{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-section{
        flex-grow: 1;
        background-color: $secondary-color;

        img{
            width: 30%;
        }
    }

    .form-section{
        flex-grow: 0.3;
        background-color: $white-color;
        padding: 80px;

        h2{
            margin: 20px 0;
            font-size: 1.5em;
            font-weight: bold;
        }

        button{        
            width: 100%;
            font-size: 18px;
            border-radius: 5px;
            padding: 14px 20px;
            background-color: $primary-color;
            color: $white-color;
            cursor: pointer;
            border-radius: 5px;
            border: none;

            // &:hover{
            //     background-color: $third-color;
            //     transition: 0.4s;
            // }

            &:disabled{
                opacity: 0.5;
                cursor: initial;
            }
        }

    }

}